{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <title>RentaCars - {% block titulo %}{% endblock %}</title>
    <meta name="description" content="¡Alquila un coche en Buenos Aires y explora la ciudad a tu propio ritmo! Encuentra las mejores opciones de alquiler de coches 
    con nosotros.">
    <meta name="keywords" content="Alquiler de coches Buenos Aires, Rentar auto Buenos Aires">
    <meta name="Grupo5-Django" content="Grupo5-Django">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'rentacars/styles/base.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    {% block extra_css%} {% endblock %}
</head>

<body>
    <header>
        <div class="container-fluid">
            <div class="navb-logo">
                <img src="{% static 'rentacars/img/logo1.svg'%}" alt="logo">
            </div>
            <nav class="navb-items">
                <ul>
                    <li class="item">
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="item">
                            <a href="{% url 'listado_alquileres' %}">Listado de Alquileres</a>
                        </li>
                    {% endif %}
                    
                    <li class="item">
                        <a href="{% url 'nosotros' %}">Nosotros</a>
                    </li>

                    {% if user.is_staff %}
                        <li class="item">
                            <a href="{% url 'listado_autos'%}">Lista Autos</a>
                        </li>
                        <li class="item">
                            <a href="{% url 'alta_autos'%}">Alta Autos</a>
                        </li>
                    {% endif %}

                    <li class="item">
                        {% if not user.is_authenticated %}
                        <a class="item-button" href="{% url 'login' %}"><i class="fa-solid fa-user"></i>Login</a>
                        {% else %}
                        <a class="item-button" href="{% url 'login' %}"><i class="fa-solid fa-user"></i>{{user}}</a>
                        {% endif %}
                    </li>
                </ul>

                <!-- Button trigger modal -->
                <div class="mobile-toogler d-lg-none">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#navbModal">
                        <i class="fa-solid fa-bars"></i>
                    </a>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="navbModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                                        class="fa-solid fa-x"></i></button>
                            </div>
                            <div class="modal-body">
                                <div class="modal-line">
                                    <i class="fa-solid fa-house"></i> <a href="{% url 'index' %}">Home</a>
                                </div>
                                 {% if user.is_authenticated %}
                                    <div class="modal-line">
                                        <i class="fa-solid fa-list"></i> <a href="{% url 'listado_alquileres' %}">Listado de Alquileres</a>
                                    </div>
                                {% endif %}
                                
                                <div class="modal-line">
                                   <i class="fa-solid fa-people-group"></i> <a href="{% url 'nosotros' %}" >Nosotros</a>
                                </div>
                                
                                {% if user.is_staff %}
                                    <div class="modal-line">
                                        <i class="fa-solid fa-list"></i> <a href="{% url 'listado_autos'%}">Lista Autos</a>
                                    </div>
                                    <div class="modal-line">
                                        <i class="fa-solid fa-plus"></i> <a href="{% url 'alta_autos'%}">Alta Autos</a>
                                    </div>
                                {% endif %}

                                {% if not user.is_authenticated %}
                                  <a class="item-button" href="{% url 'login' %}"><i class="fa-solid fa-user"></i>Login</a>
                                {% else %}
                                  <a class="item-button" href="{% url 'login' %}"><i class="fa-solid fa-user"></i>{{user}}</a>
                                {% endif %}
                                
                            </div>
                            <div class="mobil-modal-footer">
                                <a target="_blank" href="#"><i class="fa-brands fa-facebook"></i></a>
                                <a target="_blank" href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a target="_blank" href="#"><i class="fa-brands fa-youtube"></i></a>
                                <a target="_blank" href="#"><i class="fa-brands fa-square-x-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="container mt-4">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        {% block main %}{% endblock %}
    </main>


    <footer>
        <div class="footerContainer">
            <img src="{% static 'rentacars/img/logo3.png'%}" alt="">
            <div class="socialIcons">
                <a target="_blank" href="#"><i class="fa-brands fa-facebook"></i></a>
                <a target="_blank" href="#"><i class="fa-brands fa-instagram"></i></a>
                <a target="_blank" href="#"><i class="fa-brands fa-youtube"></i></a>
                <a target="_blank" href="#"><i class="fa-brands fa-square-x-twitter"></i></a>
            </div>
            <div class="footerNav">
                <ul>
                    <li class="item"><a href="{% url 'index' %}">Inicio</a></li>
                    <li class="item"><a href="{% url 'nosotros' %}">Nosotros</a></li>

                </ul>
                <div class="footercopy">
                    <p>Copyright &copy;2024 - Todos los derechos Reservados</p>
                </div>

            </div>
        </div>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
