{% load static %}

<footer>
    <div class="footerContainer">
        <img src="{% static 'rentacars/img/logo3.png' %}" alt="">
        <div class="socialIcons">
            <a target="_blank" href="#"><i class="fa-brands fa-facebook"></i></a>
            <a target="_blank" href="#"><i class="fa-brands fa-instagram"></i></a>
            <a target="_blank" href="#"><i class="fa-brands fa-youtube"></i></a>
            <a target="_blank" href="#"><i class="fa-brands fa-square-x-twitter"></i></a>
        </div>
        <div class="footerNav">
            <ul>
                <li class="item"><a href="{% url 'index' %}">Inicio</a></li>
                <li class="item"><a href="{% url 'nosotros' %}">Nosotros</a></li>
                <li class="item"><a href="{% url 'contacto' %}">Contacto</a></li>
            </ul>
            <div class="footercopy">
                <p>Copyright &copy;2024 - Todos los derechos Reservados</p>
            </div>

        </div>
    </div>
</footer>