{% extends "rentacars/base.html" %}
{% load static %}

{% block titulo %}Rentacars{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'rentacars/styles/index.css' %}">
{% endblock %}

{% block main %}

<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../static/rentacars/img/slider2.webp" class="d-block w-100 " alt="...">

    </div>
    <div class="carousel-item">
      <img src="../../static/rentacars/img/slider1.webp" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br><br>
<section class="cardAuto">
  {% for auto in autos %}
  <div class="card mb-3">
      <div class="row g-0">
          <div class="col-md-4">
              <img src="{{ auto.imagen }}" style="width: 250px; height: 150px; object-fit: cover;" class="img-fluid rounded-start" alt="{{ auto.marca }}">
          </div>
          <div class="col-md-8">
              <div class="card-body">
                  <h5 class="card-title">{{ auto.marca }}</h5>
                  <p class="card-text">Modelo: {{ auto.modelo }}</p>
                  <p class="card-text">Color: {{ auto.color }}</p>
                  <p class="card-text">Precio: ${{ auto.precio }} por día</p>
                   <a class="btn btnAlquilar" href="{% url 'crear_alquiler' auto.id %}" role="button" style="font-size: 20px;">Alquilar</a>        
              </div>
          </div>
      </div>
  </div>
  {% endfor %}
</section>


{% endblock %}
