{% extends "rentacars/base.html" %}
{% load static %}

{% block titulo %}Loguin{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'rentacars/styles/loguin.css' %}">
{% endblock %}

{% block main %}


<body>
  <div class="container-fluid bg-dark" id="about">
    <div class="row">
      <div class="col-md-6">
        <img
          style="
            height: 100px;
            width: 100%;
            height: auto;
          "
          class="img-responsive"
          class="ms-5"
          src="../../static/rentacars/img/autoprueba5.jpg"

        />
      </div>
      <div class="col-md-6">
        <br>
        <h2 style="color: white;">Acceder</h2> 
            <div id="login" style="color: white;">
                <form method="POST" action="{% url 'loguin' %}">
                    {% csrf_token %}
                    {{ loguin_form.as_p }}
                    <input type="submit">
                <br>
                </form>

                <div class="titulo">
                  <hr>
                    Bienvenido!
                </div><br>
                  <hr>
                <div class="pie-form">
                    <a href="{% url 'perdisteContraseña' %}">¿Perdiste tu contraseña?</a><br>
                    <a href="{% url 'registrarse' %}">¿No tienes Cuenta? Registrate</a><br>
                    <hr><br>
                    <a href="{% url 'index' %}">Volver</a>
                </div>
            </div>
      </div>
    </div>
  </div>
</div>
</body>

{% endblock %}

