@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Urbanist', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: currentColor;
}

a:hover {
    color: currentColor;
}

header {
    width: 100vw;
    height: 100px;
    background-color: white;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
    display: flex;
    align-items: center;
    background-color: white;
}

header .container-fluid {
    width: 100%;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navb-logo img {
    width: 350px;
    height: 66px;
}

header .navb-items ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

header .navb-items ul li {
    margin-inline: 15px;
    color: #3B1301;
}

header .navb-items ul li a {
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 3px;
    padding: 5px 0;
    color: #3B1301;
}

header .navb-items ul li a .item-button {
    color: white;
}

header .navb-items ul li a:hover {
    color: #DE7D39; 
    border-top: 2px solid #DE7D39; 
}

header .btn{
    color:white;
}

header .item-button {
    margin-left: auto;
    background-color: #DE7D39; 
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: white;
    transition: all .2s ease;
    border-radius: 25px; 
    font-weight: 700;
}

.item-button i{padding-right: 20px;}

header .item-button:hover {
background-color: white;
border: solid 2px #DE7D39; 
color:#DE7D39; 
}

/* Toggle Menu Styles */
.mobile-toogler {
    display: none; 
}

@media (max-width: 900px) {
    .mobile-toogler {
        display: block;
        margin-right: 15px; 
    }

    header .navb-items ul {
        display: none;
    }

    .mobile-toogler a {
        color: #3B1301;
        font-size: 24px;
    }
}

/*MODAL*/

.modal-dialog {
    margin: 0;
    width: 430px;
}

@media (max-width: 450px) {
    .modal-dialog {
        width: 82px;
    }

}

.modal-content {
    border-radius: 0;
    height: 100vh;
    background-color: #3B1301;
}

.modal-header {
    display: flex;
    align-items: center;
    width: 88%;
    margin: 0 auto;
    padding-bottom: 5px;
    border-bottom: none;
   
}



.modal-header .btn-close {
    background: transparent;
    opacity: 1;
}

.modal-header i {
    color: white;
    font-size: 30px;
}

.modal-body {
    width: 88%;
    margin: 0 auto;
    padding: 45px 0 0 0;
    flex: unset;
}

.modal-body .modal-line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 7px 0;
    margin-bottom: 50px;
    cursor: pointer;
    transition: all .5s ease;
    color:white;
    border-bottom:1px solid white;
   
}

.modal-body .modal-line:hover{
    color: #DE7D39; 
    border-bottom: 1px solid white;
}

.modal-line a{
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 2.5px;
    color:white;
}

.modal-line a:hover{
color:#DE7D39; 
}
.modal-line i {
    color: currentColor;
    font-size: 30px;
    width: 35px;
    margin-right: 15px;
    padding: 0 0 3px 3px;
}

.navb-button{
    width: 100%;
    height: 47px;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
    font-weight: 700;
    color:#DE7D39; 
    letter-spacing: 2px;
    transition: all .5s ease;
    border-radius: 25px; 
}

.navb-button:hover{
    background-color: #DE7D39; 
    color: #fefefe;
}


.mobil-modal-footer {
    width: 87%;
    margin: 0 auto;
    padding: 20% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    color: white;
}

.mobil-modal-footer i:hover {
    color: #DE7D39; 
}

/*FOOTER*/

footer{
    background-color: #3B1301;
}

.footerContainer{
    width: 100%;
  
}

.footerContainer img{
    width: 250px;
    justify-content: center;
    margin: 0 auto;
    display: block;
    padding:20px 0;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration:none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.socialIcons a i{
    font-size: 2em;
    color: #3B1301;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: #3B1301;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerNav{
    margin:10px 0 0 0;
    padding: 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    
}

.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
    
}

.footercopy{
background-color: #230B06;
padding:  8px;
text-align: center;
}
.footercopy p{
    color:white;
    padding-top: 10px;
}

@media (max-width:900px){
    .footerNav ul{
        display: block; 
        flex-direction: column; 
        position: relative;
    }

    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }
}

