.card {
  
    max-width: 980px;
}

.cardAuto {
    padding-left: 2%;
}

h2 {
    margin-top: 2%;
    text-align: center;
}

.btnAlquilar {
    background-color: #FF543e;
    color: #f3eae9;
    border-radius: 20px;
    width: 150px;
    height: 50px;
}
