item-button .btn{
    color:white;
}

item-button .item-button {
    margin-left: auto;
    background-color: #FF543e;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: white;
    transition: all .2s ease;
    border-radius: 25px; 
    font-weight: 700;
}

.item-button i{padding-right: 8px;}

item-button .item-button:hover {
background-color: white;
border: solid 2px #FF543e ;
color:#FF543e ;
}

html,
body {
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}
.input_clase2 {
  display: block; 
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
 
}

form label {
  color: white; 
  font-weight: bold; 
  font-size: 16px; 
  display: block; 
  width: 50%; 
  margin-bottom: 5px; 
}

button {
  background-color: #DE7D39; 
  color: #fff; 
  border: none; 
  padding: 10px 20px;
  width: 20%; 
  cursor: pointer; 
  border-radius: 10px; 
  display: block; 
  font-weight: bold; 
}

button:hover {
  background-color: #3B1301; 
  color: white;
  padding: 10px 20px;
  width: 20%;
  cursor: pointer;
  border: none;
  display: block; 
  font-weight: bold;
  cursor: pointer; 
}

.boton_volver  {
  background-color: #DE7D39; 
  color: #fff; 
  border: none; 
  padding: 10px 20px;
  width: 10%; 
  cursor: pointer; 
  border-radius: 10px; 
  display: block; 
  font-weight: bold; 
}

.boton_volver:hover  {
  background-color: #3B1301; 
  color: #fff; 
  border: none; 
  padding: 10px 20px;
  width: 10%; 
  cursor: pointer; 
  border-radius: 10px; 
  display: block; 
  font-weight: bold; 
}